#input-form {
    border: 1px solid rgb(221, 221, 221);
    max-width: 30vw;
    margin: 60px auto;
    padding: 20px;
    border-radius: 10px;

}

#table-container {
    border: 1px solid rgb(221, 221, 221);
    max-width: 80vw;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
}